@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: linear-gradient(126deg, rgb(44, 51, 51) 0%, rgb(57, 91, 100) 10%, rgb(44, 51, 51) 50%, rgb(11, 6, 3) 80%, rgb(57, 91, 100) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #E7F6F2;
  font-size: 1rem;
  text-decoration: none;
}
@media (max-width: 845px) {
  body {
    background: linear-gradient(126deg, rgb(57, 91, 100) 0%, rgb(44, 51, 51) 20%, rgb(57, 91, 100) 50%, rgb(44, 51, 51) 80%, rgb(57, 91, 100) 100%);
  }
}

.header-banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  opacity: 0.75;
}

.header-profile {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
}
.header-profile-img {
  width: 200px;
  height: 200px;
  border: #395B64 solid 5px;
  padding: 5px;
  border-radius: 100%;
  transition: 0.5s;
}
.header-profile-img:hover {
  border-color: #A5C9CA;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 4rem;
  padding: 2rem;
  border-bottom: #A5C9CA solid 2px;
}
@media (max-width: 1250px) {
  .welcome-title {
    width: 75%;
    text-align: center;
  }
}
@media (max-width: 664px) {
  .welcome-title {
    font-size: 2rem;
  }
}
.welcome-shine {
  color: #395B64;
}
.welcome-apresentation-text {
  margin: 0 15%;
  font-size: 1.25rem;
}
.welcome-apresentation-text-shine {
  color: #A5C9CA;
  text-decoration: none;
}

.projects-sub-title {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 100;
  color: #A5C9CA;
  margin-left: 2rem;
}
.projects-sub-title::before {
  content: "• ";
}

.projects {
  display: flex;
  justify-content: center;
}
@media (max-width: 845px) {
  .projects {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 5em;
    align-items: start;
  }
}
@media (max-width: 845px) {
  .projects-menu {
    text-align: left;
    justify-content: start;
  }
}
@media (max-width: 845px) and (max-width: 845px) {
  .projects-menu {
    justify-content: start;
    align-items: left;
  }
}
.projects .project {
  margin-top: 4rem;
  margin-right: 10rem;
}
.projects .project-title {
  font-weight: 600;
  color: #A5C9CA;
}
.projects .project-menu {
  margin-top: 10px;
  margin-bottom: 4rem;
}
.projects .project-menu-item-link {
  color: #E7F6F2;
}
@media (max-width: 1250px) {
  .projects .project {
    margin: 0 10px;
  }
}
.experience-title {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 100;
  color: #A5C9CA;
  margin-left: 2rem;
}
.experience-title::before {
  content: "• ";
}
.experience-text {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 4rem 2rem;
}
@media (max-width: 845px) {
  .experience-text {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.experience-text-p {
  padding: 0 2rem;
  border-left: 1px solid #395B64;
}

.certificates-title {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 100;
  color: #A5C9CA;
  margin-left: 2rem;
  margin-bottom: 4rem;
}
.certificates-title::before {
  content: "• ";
}

.certificates-cards-list-card {
  border: 4px dashed #395B64;
  border-radius: 20px;
  background: linear-gradient(126deg, rgb(231, 246, 242) 0%, rgb(57, 91, 100) 10%, rgb(231, 246, 242) 50%, rgb(255, 255, 255) 80%, rgb(57, 91, 100) 100%);
  opacity: 0.6;
  padding: 20px;
  min-width: 250px;
  max-width: 250px;
  min-height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #395B64;
  font-weight: 300;
  margin-left: 2rem;
  margin-top: 2rem;
}
@media (max-width: 845px) {
  .certificates-cards-list-card {
    margin-left: 0;
  }
}
.certificates-cards-list-card:hover {
  background: #395B64;
  color: #E7F6F2;
}
.certificates-cards-list-card-img {
  width: 150px;
  height: 150px;
}
.certificates-cards-list-card-infos-title {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 300;
}

li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 845px) {
  li {
    justify-content: space-evenly;
  }
}

.contact-title {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 100;
  color: #A5C9CA;
  margin-left: 2rem;
  margin-bottom: 4rem;
}
.contact-title::before {
  content: "• ";
}
.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-list-item {
  justify-content: center;
  width: 50%;
  border: 2px solid #E7F6F2;
  border-radius: 20px;
  padding: 15px 50px;
  margin-bottom: 2rem;
}
.contact-list-item-link {
  color: #E7F6F2;
  font-weight: 600;
}
.contact-list-item:hover {
  background: #2C3333;
  border-color: #2C3333;
}

.process-title {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 100;
  color: #A5C9CA;
  margin-left: 2rem;
}
.process-title::before {
  content: "• ";
}
.process-bar {
  margin-left: 25%;
  justify-content: center;
  width: 50%;
  height: 25px;
  border: 2px solid #E7F6F2;
  border-radius: 20px;
  margin: 4rem 25% 4rem 25%;
}
.process-bar-loading {
  height: 100%;
  border-radius: 20px;
  background-color: #E7F6F2;
}
.process-bar-loading:hover {
  background-color: #2C3333;
}

/*# sourceMappingURL=styles.css.map */
