@use '../abstract/variables'
@use '../abstract/mixins'
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: variables.$font
    list-style: none
    text-decoration: none

body
    background: variables.$background-color
    @include mixins.responsive-845
        background: variables.$background-responsive
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    width: 100%
    color: variables.$font-color
    font-size: variables.$font-size
    text-decoration: none