@use '../abstract/variables'

@mixin project_list
    margin-top: variables.$spacing
    margin-right: 10rem
    &-title
        font-weight: 600
        color: variables.$secondary-color
    &-menu
        margin-top: 10px
        margin-bottom: variables.$spacing
        &-item
            &-link
                color: variables.$font-color
                    

@mixin sub-title
    margin-top: variables.$spacing
    font-size: variables.$font-size*2.5
    font-weight: 100
    color: variables.$secondary-color
    margin-left: 2rem
    &::before
        content: '• '

@mixin responsive-1250
    @media(max-width: 1250px)
        @content

@mixin responsive-845
    @media(max-width: 845px)
        @content

@mixin responsive-830
    @media(max-width: 845px)
        @content

@mixin responsive-664
    @media(max-width: 664px)
        @content